@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}
